.heading1 {
    text-align: center;
    font-weight: bold;
    font-size:50pt;
    color: #EDF5E1;
  }

  .paragraph1 {
    margin: 20px;
    font-family:'Montserrat Alternates', sans-serif;
    text-align: center;
    color: #05386B;
    font-weight: bold;
  }

  .section1 {
    width: 100%;
    height: 20%;
    flex-basis: 2;
    background: linear-gradient( #379683, #5CDB95);
    animation: gradient-animation 18s ease infinite;
    padding: 50px;
  }

  @keyframes gradient-animation {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
  }

  .logo {
    text-align: center;
    height: 270px;
    width: 270px;
    transition: transform .2s;
    margin: 0 auto;
  }

  .logo:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .ctrl {
    color: #05386B;
  }

  .section2 {
    width: 100%;
    height: 100vh;
    background-color: #5CDB95;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .timer {
    background-color:#379683;
    padding-top:40px;
    margin: 10px 0px 10px 10px;
    border-radius: 10px;
    grid-row: span 2;
    position: relative;
    font-family: 'MuseoModerno', sans-serif;
    font-size: 100%;
    color: #EDF5E1;
    display: grid;
    box-sizing: border-box;
  }

  a:link {
    color: #EDF5E1;
    font-weight: 400;
    text-decoration: none;
  }

  a:hover {
  color: #EDF5E1;
  font-weight: bold;
  text-decoration: underline;
  }

  a:visited {
    color: #EDF5E1;
  }

  .notes-header {
    width: 100%;
    height: 40px;
    position: absolute;
    top:0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #05386B;
  }

  .notes {
    background-color: #379683;
    margin: 10px 10px 0px 0px;
    border-radius: 10px;
    grid-column: span 2;
    position: relative;
  }

  .text-area {
    margin-top: 40px;
    text-indent: none;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  #freeform {
    width: 100%;
    height: 285px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: transparent;
    background-color: #379683;
    color: #EDF5E1;
  }

  .to-do {
    background-color: #379683;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    grid-column: span 2;
  }

  .header-text {
    font-family:'Montserrat Alternates', sans-serif;
    background-color: transparent;
    font-weight: bold;
    margin: 10px;
    color:#EDF5E1;
  }

  .timer-header {
    width: 100%;
    height: 40px;
    position: absolute;
    top:0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #05386B;
  }

  
.timer_display {
    margin-bottom: 2vh;
    text-align: center;
}
.timer_display .timer_display_duration {
    font-size: 15vmin;
    margin-bottom: 2vh;
}
.timer_display .timer_display_name {
    font-size: 10vmin;
}

.timer_button_container {
    margin-bottom: 2vh;
    text-align: center;
}
.timer_button_container button {
    background-color: #05386B;
    color: #EDF5E1;
    border: 0;
    border-radius: 20px;    
    font-size: 7vmin;
    padding:0.25em 1em;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: -32px;
  padding: 0px;
  list-style-type: none;
  width: 100%;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 10px;
  background: #8EE4AF;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
  transition: 0.2s;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #8EE4AF;
}

/* Darker background-color on hover */
ul li:hover {
  background: #5CDB95;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #5CDB95;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  background-color: inherit;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.close:hover {
  background-color: #05386B;
  color: white;
}

/* Style the header */
.header {
  background-color: #05386B;
  padding: 10px 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #2D3047;
  text-align: left;
  font-family:'Montserrat Alternates', sans-serif;
  position: relative;
}

.to-do-header-text {
  font-weight: bold;
  font-size: 17px;
  width: fit-content;
  position: absolute;
  left:10px;
  top: 14px;
  color: #EDF5E1;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 70%;
  height: 30px;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 0px;
  width: 10%;
  height:30px;
  background: #FFFFFF;
  color: #05386B;
  float: left;
  text-align: center;
  font-size: 17pt;
  cursor: pointer;
  transition: 0.3s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.enter {
  position: relative;
  left: 57px;
}

.addBtn:hover {
  background-color: #05386B;
  color: #EDF5E1;
}

.section3 {
  width: 100;
  height:200px;
  flex-basis: 2;
  background: linear-gradient(#5CDB95, #05386B );
  animation: gradient-animation 18s ease infinite;
  padding: 100px;
}

.footer-text {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #EDF5E1;
  font-weight: bold;
  text-align: center;
  margin: 0px 0px 0px 10px;
  padding-top: 10px;
  
}